<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>react blog</title>
  <meta name="keywords" content="react blog">
  <meta name="description" content="It's a blog app">
  <meta name="author" content="guohaoxu, guohao0817@gmail.com">
  <meta http-equiv="Cache-Control" content="no-siteapp">

  <!-- build:css -->
  <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/main.css">
  <!-- endbuild -->

  <script>
    // window.user = JSON.parse('<%- window_user %>');
    // window.mainCtx = "<%= mainCtx %>";
    // window.ctx = "<%= ctx %>";
  </script>
</head>

<body>
  <div id="root"></div>
  <% if (process.env.NODE_ENV === 'production') { %>

  <!-- build:js -->
  <script src="/dist/js/bundle.js"></script>
  <script src="/dist/js/jquery-1.12.1.min.js"></script>
  <script src="/dist/bootstrap/js/bootstrap.min.js"></script>
  <!-- endbuild -->

  <% } else { %>
  <script src="http://localhost:8080/static/js/bundle.js"></script>
  <% } %>



</body>

</html>
